.body {
    margin: 0;
    padding: 0;
    height: 150vh;
   
  background-image: url('https://media.gettyimages.com/id/184601291/es/foto/xxxl-hormig%C3%B3n-oscuro.jpg?s=612x612&w=0&k=20&c=lE0969m0ExEDRcR00Bvspa5xBBUO2SHAKGMwAhxSBQQ=');
}
.link {
    color: black;
    text-decoration: none;
  }
  
  .boton {    
    font-weight: 800;
    margin-bottom: 1rem;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    border-radius: 12px;
    margin-top: .5rem;
    width: 5rem;
    height: 2.2rem;
    background: linear-gradient(#883434, rgba(255, 0, 0, 0.552));

    overflow: hidden;
    transition: 300ms;
    color: rgb(0, 0, 0);
    border: 1px solid #000000;
  }
  
  .boton:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #1206025b;
    box-shadow: 0 0 1rem #050200c5, 0 0 4rem #ff0101a0, 0 0 8rem #ff0000;
  }
  
  .form {
    padding: 12px;
    display: grid;
    gap: 20px;
    place-items: center;
    width: 100%;
    margin: 0;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .create {
    display: inline-block;
    padding: 5px 30px;
    background-color: rgba(244, 244, 244, 0.389);
    color: black;
    font-size: 16px;
    font-weight: bold;
    border: transparent;
    border-radius: 25rem;
    cursor: pointer;
    overflow: hidden;
    transition: .8s;
    border: 1px solid #000000;
  }
  
  .create:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
  }
  
  .label {
    font-size: 16px;
    margin-right: 10px;
    color: white;
  }
  
  .inputs {
    background-color: rgba(255, 0, 0, 0.397);
    border: transparent;
    border-radius: 25rem;
    font-size: 16px;
    padding: 5px 25px;
    text-align: center;
    transition: .8s;
  }
  
  .inputs:hover {
    background-color: rgba(255, 0, 0, 0.794);
    border-radius: 2rem;
  }
  
  .inputs:focus {
    border-radius: none;
    border: none;
  }
  
  .select {
    background-color: rgba(244, 244, 244, 0.389);
    color: black;
    border: transparent;
    border-radius: 25rem;
    font-size: 16px;
    padding: 5px 25px;
    text-align: center;
    transition: .8s;
    width: 240px;
    outline: none;
  }
  
  .select:hover {
    background-color:  rgb(255, 255, 255);
    border-radius: 2rem;
  }
  
  .select:focus {
    border-radius: none;
    border: none;
  }
  .select option:checked {
    color: white; /* Cambiar el color del texto aquí */
  }
  
  
  .option {
    font-size: 16px;
    padding: 5px 5px;
  }
  