.body {
    margin: 0;
    padding: 0;
    height: 230vh;
    background-size: cover;
    background-image: url('https://media.gettyimages.com/id/184601291/es/foto/xxxl-hormig%C3%B3n-oscuro.jpg?s=612x612&w=0&k=20&c=lE0969m0ExEDRcR00Bvspa5xBBUO2SHAKGMwAhxSBQQ=');
}
  
  .espera {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }